@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.text {
	margin-top: 0px;
}

/*.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(./app/images/smu.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: -1;
}*/

/*.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));  Chrome,Safari4+ */
	/*z-index: 1;
	opacity: 0.7;
}*/

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 45px;
	font-weight: 250;
}

h1 span{
	color: white !important;
	border: darkmagenta;
    text-shadow: -1px 0 grey, 0 4px grey, 4px 0 grey, 0 -1px grey;
}

.login{
	text-align: center;
	position: fixed;
    right: 0;
    left: 0;
	margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 122px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

h1 { 
	/*position: absolute;
	top: calc(15%);
	left: calc(20%);*/
	position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    color: white; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 80px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

h2 {
	/*position: relative;
	top: calc(40%);
	left: calc(50%);*/
	position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    color: white; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold; 
	font-size: 300%;
	font-style: italic;
    letter-spacing: -1px; 
    line-height: 3; 
    text-align: center; 
}

/*span {
	border: 2px solid purple;
}*/

.login-header {
	font-size: 155%;
	color: darkgrey;
	font-family: 'Exo', sans-serif;
	float:left;
	margin-left: 12%;
	margin-top: 10%;
	line-height: 50px;
	/*margin-right:80%;*/
}

