<div class="container">
  <br><br>
  <button type="button" class="btn btn-primary pull-right" routerLink="add">
	  New Event
  </button>
  
  <h1>{{title}}</h1>
  <div class="main-content">
  <div class="panel panel-default">
    <div class="panel-heading">
      Listed Events
    </div>
    <div class="panel-body">

    <div *ngIf="eventNumber > 0">
      <div class="media" *ngFor="let event of events, let index = index">
        <span class="media-left">
        </span>
        <div class="media-body">
          <div>
            <h4 class="media-heading">{{ event.eventTitle }}</h4>
            <button id="editbtn" type="button" class="btn btn-primary pull-right" routerLink="/edit-event/{{event.uid}}/{{event.id}}"><i class="glyphicon glyphicon-edit" ></i>Edit</button>
            <button id="editbtn" type="button" class="btn btn-danger pull-right" routerLink=""><i class="glyphicon glyphicon-trash" ></i>Delete</button>
            
              
            <ul>
              <li><h5>Organization Name: {{ event.orgName }}</h5></li>
              <li><h5>Event Type: {{ event.eventType }}</h5></li>
              <li><h5>Event Date: {{ event.date }}</h5></li>
              <li><h5>Event Time: {{ event.time }}</h5></li>
              <li><h5>Event Info: {{ event.info }}</h5></li>
            </ul>
          </div>
          <!--<rating [model]="movie" (click)="updateRating(movie)" ></rating>-->
        </div>
      </div>
    </div>
    <div *ngIf="eventNumber == 0" class="well">
      You have not yet planned an event. Click "New Event" to get started planning!
    </div>

    </div>
  </div>
  </div>
  <br>

  <!--<button type="button" class="btn btn-primary" routerLink="/new-event">New Event</button>-->
</div>

