.container {
    background-color: white;
    margin: 0 auto;
	margin-top: -100px;
	width: 1000px;
    height:100%;
}

.media-left img {
	width: 100px;
}

.glyphicon {
	font-size: 16px;
	margin-right: 3px;
}


.button:hover {
	opacity:0.9;
}

.glyphicon-edit {
	color: darkslateblue;
}


.glyphicon-trash {
	color: darkred;
	opacity: 0.7;
}

h4 {
	display: inline;
}

#editbtn {
	margin-right: 10px;
}