<div id="bg" class="container">
  <h1>{{title}}</h1>
  <br>


  <div class="main-content">
    <div class="panel panel-default">

      <div class="panel-heading">
        <button type="button" class="btn btn-default pull-right" (click)="next()" >Next<i class="glyphicon glyphicon-menu-right"></i></button>

        <button type="button" id="selectors" class={{info_btn}} (click)="changeDisplay('info')">Basic Information</button>
 
        <button type="button" id="selectors" class={{venue_btn}} (click)="changeDisplay('venue')">Venue Information</button>

        <button type="button" id="selectors" class={{food_btn}} (click)="changeDisplay('food')">Food Information</button>

        <button type="button" id="selectors" class={{rent_btn}} (click)="changeDisplay('rent')">Equipment Rentals</button>

        <button type="button" class="btn btn-default pull-left" (click)="back()"><i class="glyphicon glyphicon-menu-left"></i>Back</button>
      </div>

      <div [ngSwitch]="display">

        <div *ngSwitchCase="'info'">
          <div class="panel-heading">
            <h3>Basic Event Information</h3>
          </div>
          <div class="panel-body">
            <div>
              <div class="form-group">

                <label for="eventTitle">
                  Event Title:
                </label>
                <input 
                  type="text" 
                  name="eventTitle"
                  class="form-control"
                  id="eventTitle"
                  [(ngModel)]="l_eventTitle"
                  required>
                  <br>

                <label for="organization">
                  What organization are you with?
                </label>
                <input 
                  type="text" 
                  name="organization"
                  class="form-control"
                  id="org"
                  [(ngModel)]="l_orgName"
                  required>
                  <br>


                  <!--Determine how to make this not despecify due to input letters -->
                <label for="eventType">
                  What type of event are you planning?
                </label>
                <input 
                  list="o_eventType"
                  name="eventType"
                  class="form-control"
                  id="eventType"
                  [(ngModel)]="l_eventType" />
                  <datalist id="o_eventType">
                    <option *ngFor="let eventType of o_eventType" value={{eventType}}>
                  </datalist>
                <br>

                <label for="date">
                  What will be the date of your event?
                </label>
                <input 
                  type="text" 
                  name="date"
                  class="form-control"
                  id="date"
                  [(ngModel)]="l_date"
                  required>
                  <br>

                <label for="time">
                  What will be the time of your event?
                </label>
                <input 
                  type="text" 
                  name="time"
                  class="form-control"
                  id="time"
                  [(ngModel)]="l_time"
                  required>
                  <br>

                <label for="info">
                  Additional information:
                </label>
                <input 
                  type="text" 
                  name="info"
                  class="form-control"
                  id="info"
                  [(ngModel)]="l_info"
                  required>
                <br>

              </div>

            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary pull-right" (click)="saveData()">Save</button>
            <button type="button" class="btn btn-danger pull-left"(click)="returnToList('No Edits Made')">Discard</button>
          </div>
        </div>

        <div *ngSwitchCase="'venue'">
          <div class="panel-heading">
            <h3>Venue Information</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary pull-right" (click)="saveData()">Save</button>
            <button type="button" class="btn btn-danger pull-left"(click)="returnToList('No Edits Made')">Discard</button>
          </div>
        </div>

        <div *ngSwitchCase="'food'">
          <div class="panel-heading">
            <h3>Food Information</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">

              <label for = "bld">
                What meal category would you like to choose from for your event?
              </label>
              <input 
                list="o_bld"
                name="bld"
                class="form-control"
                id="bld"
                [(ngModel)]="l_bld"
                required>
                <datalist id="o_bld">
                  <option *ngFor="let bld of o_bld" value={{bld}}>
                </datalist>
              <br>

              <label for = "foodType">
                What type of food would you like at your event?
              </label>
              <input 
                list="o_foodType"
                name="foodType"
                class="form-control"
                id="foodType"
                [(ngModel)]="l_foodType"
                required>
                <datalist id="o_foodType">
                  <option *ngFor="let foodType of o_foodType" value={{foodType}}>
                </datalist>
              <br>

              <label for = "dessert">
                Would you like to add dessert?
              </label>
              

              <!-- Add restaurant choice here -->

            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary pull-right" (click)="saveData()">Save</button>
            <button type="button" class="btn btn-danger pull-left"(click)="returnToList('No Edits Made')">Discard</button>
          </div>
        </div>

        <div *ngSwitchCase="'rent'">
          <div class="panel-heading">
            <h3>Equipment Rentals</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary pull-right" (click)="saveData()">Save</button>
            <button type="button" class="btn btn-danger pull-left"(click)="returnToList('No Edits Made')">Discard</button>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>