.active {
  color: #fff;
}
.navbar-toggler {
  border: solid 1px silver;
  border-radius: 2px;
  color: #eee;
}

.navbar-brand {
    line-height: 60px;
    height: 60px;
    margin-top: 2;

}

.navbar-nav li a {
    line-height: 62px;
    height: 62px;
    padding-top: 0;
}